<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>HỌC NGAY</button>
        </div>

        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
        <iframe width="861" height="484" src="https://www.youtube.com/embed/{{course.videoId}}"
            title="Domain là gì? | Bạn đã thật sự hiểu về domain? | Kiến thức nền tảng lập trình" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>